body {
    background-color: purple;
}

.logo {
    width: 10%;
}

header {
    background-color: rgb(72, 13, 183);
}


.lumiere, .gaz {
    margin-top: 20px;
    margin-left: 10%;
    display: flex;
    align-items: center;
}


.porte, .lampe {
    width: 90px;
    height: 110px;
}

.rangecss {
    margin-left: 20%;
}