
body {
    background-color: rgb(223, 148, 223);
}

.maison {
    width: 10%;
}

.logo {
    width: 10%;
}

header {
    border: 5px solid black;
    background-color: rgb(72, 13, 183);
    border-radius: 90px;
}


.lumiere, .gaz {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    color: rgba()
}


.porte, .lampe {
    width: 90px;
    height: 110px;
}

.porte {
    margin-left: 200px;
}

.rangecss {
    margin-left: 60%;
}